html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
    }

}

body{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font(latoregular);
    color: color(black);
}

.layout{
    position: relative;
    z-index: -1;

    &--scrollblock {
        overflow: hidden;
    }
}


a {
    color: color(black);
    text-decoration: none;
    outline: none;
}

.sro {
    @include hidden();
}

.wrapper {
    max-width: em($grid_width);
    width: 90%;
    position: relative;
    margin: 0 auto;
}


.body{
    &--nojs{
        .nav__link--dropdown{
            display: none;
        }
        .nav__item--dropdown{
            padding: 0;
        }
    }
    &--js{
        .nav__item{
            font-size: em(l);
        }
    }
}