@charset "UTF-8";

@font-face {
  font-family: "abril_fatfaceregular";
  src: url("/fonts/abrilfatface-regular-webfont.woff2") format("woff2"), url("/fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoblack";
  src: url("/fonts/lato-black-webfont.woff2") format("woff2"), url("/fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoblack_italic";
  src: url("/fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("/fonts/lato-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("/fonts/lato-bold-webfont.woff2") format("woff2"), url("/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold_italic";
  src: url("/fonts/lato-bolditalic-webfont.woff2") format("woff2"), url("/fonts/lato-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoitalic";
  src: url("/fonts/lato-italic-webfont.woff2") format("woff2"), url("/fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight";
  src: url("/fonts/lato-light-webfont.woff2") format("woff2"), url("/fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight_italic";
  src: url("/fonts/lato-lightitalic-webfont.woff2") format("woff2"), url("/fonts/lato-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("/fonts/lato-regular-webfont.woff2") format("woff2"), url("/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?xc6iwr");
  src: url("/fonts/icomoon.eot?xc6iwr#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?xc6iwr") format("truetype"), url("/fonts/icomoon.woff?xc6iwr") format("woff"), url("/fonts/icomoon.svg?xc6iwr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*******************************/

/***          RESET         ***/

/****************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Indicate that certain elements are interactive.
 */

[role=button],
label {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "latoregular", Playfair, Arial, serif;
  color: #292828;
}

a {
  color: #292828;
  text-decoration: none;
}

.sro {
  position: absolute;
  top: -9999px;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  letter-spacing: 0;
}

.wrapper {
  max-width: 75.375em;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.btn {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1em;
  text-align: center;
}

.btn--primary {
  padding: 0.9375em 1.5625em;
  border: 2px solid #292828;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn--primary:hover {
  background-color: #292828;
  color: #ffffff;
}

.btn--secondary {
  text-transform: uppercase;
  color: #DAE7F2;
  font-size: 1.125em;
  background-color: #4F1C28;
  border: 2px solid #4F1C28;
  padding: 0.9375em 1.5625em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn--secondary:hover {
  background-color: #DAE7F2;
  color: #4F1C28;
}

.btn--arrow {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  transition: right 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn--arrow:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E906";
  font-size: 2.625em;
  color: #4F1C28;
  cursor: pointer;
}

.btn--arrow:hover {
  right: -6px;
}

.btn--white {
  color: #ffffff;
}

.btn--white:after {
  font-size: 2em;
  position: absolute;
  top: calc(50% + 26px);
  right: 0;
  color: #ffffff;
}

.link {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
}

.link--line {
  display: inline-block;
  position: relative;
  padding: 0.625em 0 0.625em 4.375em;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--line:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 60px;
  background-color: #292828;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--line:hover {
  padding: 0.625em 4.375em 0.625em 0;
}

.link--line:hover:before {
  -webkit-animation: lineAnim 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: lineAnim 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(calc(100% + 20px));
}

.link--lineUp {
  display: inline-block;
  position: relative;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--lineUp:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #292828;
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--lineUp:hover {
  color: #4F1C28;
}

.link--lineUp:hover:before {
  background-color: #4F1C28;
  -webkit-animation: lineAppear 1s cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: lineAppear 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes lineAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lineAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lineAppear {
  0% {
    bottom: 30px;
    height: 40px;
  }

  50% {
    bottom: 30px;
    height: 0;
  }

  70% {
    bottom: 70px;
    height: 0;
  }

  100% {
    bottom: 30px;
    height: 40px;
  }
}

@keyframes lineAppear {
  0% {
    bottom: 30px;
    height: 40px;
  }

  50% {
    bottom: 30px;
    height: 0;
  }

  70% {
    bottom: 70px;
    height: 0;
  }

  100% {
    bottom: 30px;
    height: 40px;
  }
}

.type {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875em;
  font-family: "latobold", Playfair, Arial, serif;
  letter-spacing: 0.0714285714em;
  padding: 0.5em 1.25em;
}

.type--big {
  font-size: 1em;
}

.type--fill {
  background-color: #4F1C28;
  color: #DAE7F2;
}

.type--outline-red {
  font-family: "latoblack", Playfair, Arial, serif;
  color: #4F1C28;
  border: 3px solid #4F1C28;
}

.type--outline-blue {
  font-family: "latoblack", Playfair, Arial, serif;
  color: #DAE7F2;
  border: 3px solid #DAE7F2;
}

.type--white {
  color: #ffffff;
}

.form__control {
  position: relative;
}

.form__control:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #4F1C28;
  transition: width 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form__control:not(.form__control--disabled):hover:after {
  width: 100%;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white) {
  opacity: 1;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white)::-webkit-input-placeholder {
  color: #4F1C28;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white)::-moz-placeholder {
  color: #4F1C28;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white):-ms-input-placeholder {
  color: #4F1C28;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white)::-ms-input-placeholder {
  color: #4F1C28;
}

.form__control:not(.form__control--disabled):hover .form__input:not(.form__input--white)::placeholder {
  color: #4F1C28;
}

.form__control--error .form__input {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input::-webkit-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::-moz-placeholder {
  color: #892C2C;
}

.form__control--error .form__input:-ms-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::-ms-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::placeholder {
  color: #892C2C;
}

.form__control--disabled .form__input,
.form__control--disabled .form__label {
  cursor: default;
  opacity: 0.5;
  background-color: transparent;
}

.form__control--white:after {
  background-color: #DAE7F2;
}

.form__error {
  color: #892C2C;
  font-family: "latobold", Playfair, Arial, serif;
  position: absolute;
  top: 0;
  right: 0;
}

.form__label {
  cursor: pointer;
  display: block;
  font-family: "latobold", Playfair, Arial, serif;
  padding-bottom: 0.625em;
}

.form__label--white {
  font-family: "latoregular", Playfair, Arial, serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875em;
}

.form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  overflow: hidden;
  border-radius: 0;
  max-width: 100%;
  border-bottom: 2px solid #292828;
  opacity: 0.6;
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  color: #292828;
  padding: 0.3125em 0;
  width: 100%;
  background-color: transparent;
  text-transform: uppercase;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  opacity: 0.8;
  -webkit-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::-moz-placeholder {
  opacity: 0.8;
  -moz-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input:-ms-input-placeholder {
  opacity: 0.8;
  -ms-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::-ms-input-placeholder {
  opacity: 0.8;
  -ms-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::placeholder {
  opacity: 0.8;
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input:focus,
.form__input:hover {
  border-bottom-color: #4F1C28;
  opacity: 1;
  color: #4F1C28;
}

.form__input:focus::-webkit-input-placeholder, .form__input:hover::-webkit-input-placeholder {
  color: #4F1C28;
}

.form__input:focus::-moz-placeholder, .form__input:hover::-moz-placeholder {
  color: #4F1C28;
}

.form__input:focus:-ms-input-placeholder, .form__input:hover:-ms-input-placeholder {
  color: #4F1C28;
}

.form__input:focus::-ms-input-placeholder, .form__input:hover::-ms-input-placeholder {
  color: #4F1C28;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder {
  color: #4F1C28;
}

.form__input--small {
  font-size: 1.125em;
}

.form__input--white {
  border-bottom-color: #ffffff;
  color: #ffffff;
  opacity: 1;
}

.form__input--white:focus,
.form__input--white:hover {
  color: #DAE7F2;
  border-bottom-color: #DAE7F2;
  opacity: 1;
}

.nav__link {
  font-family: "latobold", Playfair, Arial, serif;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.0714285714em;
}

.nav__link--dropdown:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E903";
  font-size: 0.875em;
  margin-left: 0.625em;
}

@media only screen and (max-width: 759px) {
  .nav {
    margin: 2.5em auto;
  }

  .nav__item {
    padding: 1.875em;
    border-bottom: 1px solid rgba(79, 28, 40, 0.2);
  }

  .nav__link {
    font-size: 1.25em;
    color: #4F1C28;
    display: block;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__link:focus {
    height: 100%;
  }

  .nav__link:focus + .nav__list_sub {
    position: relative;
    opacity: 1;
    visibility: visible;
  }

  .nav__link--dropdown:after {
    position: absolute;
    right: 10%;
  }

  .nav__list_sub {
    margin-top: 1.875em;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub {
    margin: 1.25em 0.625em;
  }

  .nav__link_sub {
    font-size: 1.125em;
    text-transform: uppercase;
    color: #4F1C28;
    padding: 1.25em 1.875em;
    position: relative;
  }

  .nav__link_sub:before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    background-color: #4F1C28;
  }
}

@media only screen and (min-width: 760px) {
  .nav__item {
    display: inline-block;
    margin: 0 1.25em;
    position: relative;
  }

  .nav__item--dropdown:hover .nav__list_sub {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  .nav__link {
    letter-spacing: 0.0714285714em;
    position: relative;
    padding: 0.625em;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__link:before {
    position: absolute;
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #DAE7F2;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .nav__link:hover {
    color: #4F1C28;
  }

  .nav__link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__list_sub {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    padding: 1.25em 0 1.25em 1.875em;
    background-color: #DAE7F2;
    border: 2px solid #4F1C28;
    width: 12.5em;
    z-index: 10;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.0714285714em;
    position: relative;
    padding: 0.9375em 0;
    transition: font-weight 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub:after {
    position: absolute;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E906";
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;
    opacity: 0;
    top: calc(50% - 9px);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub:hover {
    font-weight: bold;
  }

  .nav__item_sub:hover:after {
    transform: translateX(15px);
    opacity: 1;
  }
}

.social__item {
  display: inline-block;
  padding: 0.4375em 0.5em;
  margin: 0 0.75em;
  border-radius: 100%;
  background-color: #292828;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social__item:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #4F1C28;
  border-radius: 100%;
  opacity: 0;
  z-index: -1;
  transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social__item:hover {
  background-color: #4F1C28;
}

.social__item:hover:after {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.social__link {
  font-size: 1em;
}

.social__link--fb:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E908";
  color: #ffffff;
}

.social__link--insta:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E902";
  color: #ffffff;
}

@media only screen and (max-width: 759px) {
  .social__list {
    text-align: center;
  }
}

.search__link {
  display: inline-block;
  padding: 0.4375em 0.5em;
  margin: 0 0.75em;
  border-radius: 100%;
  background-color: #292828;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search__link:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E900";
  color: #ffffff;
}

.search__link:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #4F1C28;
  border-radius: 100%;
  opacity: 0;
  transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search__link:hover {
  background-color: #4F1C28;
}

.search__link:hover:after {
  width: 40px;
  height: 40px;
  opacity: 1;
}

@media only screen and (max-width: 759px) {
  .search {
    margin-bottom: 2.5em;
  }

  .search__link {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  .search__container {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 1.875em 0;
}

.header__logo {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  width: 100px;
}

.header__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 759px) {
  .header--show {
    background-color: #DAE7F2;
  }

  .header--show .header__nav,
  .header--show .header__icons {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translateY(0);
  }

  .header--show .header__container {
    height: 100vh;
    overflow-y: scroll;
  }

  .header__nav,
  .header__icons {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(20px);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__container {
    flex-direction: column;
  }

  .header__responsive {
    position: absolute;
    right: 0;
    top: 2.375em;
  }

  .header__lines {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #4F1C28;
    position: relative;
  }

  .header__lines:after,
  .header__lines:before {
    content: "";
    position: absolute;
    background-color: #4F1C28;
    height: 3px;
    width: 30px;
    left: 0;
  }

  .header__lines:after {
    top: -8px;
  }

  .header__lines:before {
    top: 8px;
  }

  .header__content {
    flex-direction: column;
    align-items: stretch;
  }
}

@media only screen and (min-width: 760px) {
  .header__container {
    align-items: center;
  }

  .header__responsive {
    display: none;
  }

  .header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: #4F1C28;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4.375em 0 6.25em;
}

.footer__bottom {
  padding: 1.25em 0;
}

.footer__legal {
  font-size: 0.875em;
  margin-right: 2.8571428571em;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer__legal:hover,
.footer__legal:focus {
  color: #DAE7F2;
}

.footer__newsletter {
  width: 31.6749585406%;
}

.footer__form {
  margin-top: 2.5em;
}

.footer__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.25em;
  color: #ffffff;
  margin-bottom: 1.5625em;
}

.footer__item {
  margin: 1.25em 0;
  max-width: 9.375em;
}

.footer__link {
  line-height: 1.3125em;
  padding: 0.3125em 0;
  color: #ffffff;
  position: relative;
}

.footer__link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DAE7F2;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #DAE7F2;
}

.footer__link:hover:after,
.footer__link:focus:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

