@charset "UTF-8";

@font-face {
  font-family: "abril_fatfaceregular";
  src: url("/fonts/abrilfatface-regular-webfont.woff2") format("woff2"), url("/fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoblack";
  src: url("/fonts/lato-black-webfont.woff2") format("woff2"), url("/fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoblack_italic";
  src: url("/fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("/fonts/lato-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("/fonts/lato-bold-webfont.woff2") format("woff2"), url("/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold_italic";
  src: url("/fonts/lato-bolditalic-webfont.woff2") format("woff2"), url("/fonts/lato-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoitalic";
  src: url("/fonts/lato-italic-webfont.woff2") format("woff2"), url("/fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight";
  src: url("/fonts/lato-light-webfont.woff2") format("woff2"), url("/fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight_italic";
  src: url("/fonts/lato-lightitalic-webfont.woff2") format("woff2"), url("/fonts/lato-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("/fonts/lato-regular-webfont.woff2") format("woff2"), url("/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?xc6iwr");
  src: url("/fonts/icomoon.eot?xc6iwr#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?xc6iwr") format("truetype"), url("/fonts/icomoon.woff?xc6iwr") format("woff"), url("/fonts/icomoon.svg?xc6iwr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*******************************/

/***          RESET         ***/

/****************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Indicate that certain elements are interactive.
 */

[role=button],
label {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "latoregular", Playfair, Arial, serif;
  color: #292828;
}

a {
  color: #292828;
  text-decoration: none;
  outline: none;
}

.sro {
  position: absolute;
  top: -9999px;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  letter-spacing: 0;
}

.wrapper {
  max-width: 75.375em;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.btn {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1em;
  text-align: center;
  background-color: transparent;
  border: none;
}

.btn--primary {
  padding: 0.9375em 1.5625em;
  border: 2px solid #292828;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn--primary:hover {
  background-color: #292828;
  color: #ffffff;
}

.btn--secondary {
  text-transform: uppercase;
  color: #DAE7F2;
  font-size: 1.125em;
  background-color: #4F1C28;
  border: 2px solid #4F1C28;
  padding: 0.9375em 1.5625em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn--secondary:hover {
  background-color: #DAE7F2;
  color: #4F1C28;
}

.btn--arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  transition: right 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn--arrow:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E906";
  font-size: 2.625em;
  color: #292828;
  cursor: pointer;
}

.btn--arrow:hover {
  right: -6px;
}

.btn--white {
  color: #ffffff;
}

.btn--white:after {
  font-size: 2em;
  color: #ffffff;
}

.link {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link--big {
  font-size: 1.25em;
}

.link--line {
  display: inline-block;
  position: relative;
  padding: 0.625em 0 0.625em 4.375em;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--line:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 60px;
  background-color: #292828;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--lineUp {
  display: inline-block;
  position: relative;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--lineUp:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #292828;
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link--lineUp:hover {
  color: #4F1C28;
}

.link--lineUp:hover:before {
  background-color: #4F1C28;
}

.type {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875em;
  font-family: "latobold", Playfair, Arial, serif;
  letter-spacing: 0.0714285714em;
}

.type--big {
  font-size: 1em;
}

.type--fill {
  background-color: #4F1C28;
  color: #DAE7F2;
  padding: 0.5em 1.25em;
}

.type--outline-red {
  font-family: "latoblack", Playfair, Arial, serif;
  color: #4F1C28;
  border: 3px solid #4F1C28;
  padding: 0.5em 1.25em;
}

.type--outline-blue {
  font-family: "latoblack", Playfair, Arial, serif;
  color: #DAE7F2;
  border: 3px solid #DAE7F2;
  padding: 0.5em 1.25em;
}

.type--white {
  color: #ffffff;
}

.form__control {
  position: relative;
}

.form__control--margin {
  margin-bottom: 3.75em;
}

.form__control--error .form__input,
.form__control--error .form__textarea {
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input:hover::-webkit-input-placeholder, .form__control--error .form__textarea:hover::-webkit-input-placeholder, .form__control--error .form__input:focus::-webkit-input-placeholder, .form__control--error .form__textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input:hover::-moz-placeholder, .form__control--error .form__textarea:hover::-moz-placeholder, .form__control--error .form__input:focus::-moz-placeholder, .form__control--error .form__textarea:focus::-moz-placeholder {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input:hover:-ms-input-placeholder, .form__control--error .form__textarea:hover:-ms-input-placeholder, .form__control--error .form__input:focus:-ms-input-placeholder, .form__control--error .form__textarea:focus:-ms-input-placeholder {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input:hover::-ms-input-placeholder, .form__control--error .form__textarea:hover::-ms-input-placeholder, .form__control--error .form__input:focus::-ms-input-placeholder, .form__control--error .form__textarea:focus::-ms-input-placeholder {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input:hover,
.form__control--error .form__textarea:hover,
.form__control--error .form__input:hover::placeholder,
.form__control--error .form__textarea:hover::placeholder,
.form__control--error .form__input:focus,
.form__control--error .form__textarea:focus,
.form__control--error .form__input:focus::placeholder,
.form__control--error .form__textarea:focus::placeholder {
  opacity: 1;
  border-bottom-color: #892C2C;
  color: #892C2C;
}

.form__control--error .form__input::-webkit-input-placeholder, .form__control--error .form__textarea::-webkit-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::-moz-placeholder, .form__control--error .form__textarea::-moz-placeholder {
  color: #892C2C;
}

.form__control--error .form__input:-ms-input-placeholder, .form__control--error .form__textarea:-ms-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::-ms-input-placeholder, .form__control--error .form__textarea::-ms-input-placeholder {
  color: #892C2C;
}

.form__control--error .form__input::placeholder,
.form__control--error .form__textarea::placeholder {
  color: #892C2C;
}

.form__control--disabled .form__input,
.form__control--disabled .form__label {
  cursor: default;
  opacity: 0.5;
  background-color: transparent;
}

.form__control--white:after {
  background-color: #DAE7F2;
}

.form__btnContainer {
  text-align: right;
}

.form__error {
  color: #892C2C;
  font-family: "latobold", Playfair, Arial, serif;
  position: absolute;
  top: 0;
  right: 0;
}

.form__label {
  cursor: pointer;
  display: block;
  font-family: "latobold", Playfair, Arial, serif;
  padding-bottom: 0.625em;
}

.form__label--white {
  font-family: "latoregular", Playfair, Arial, serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875em;
}

.form__textarea {
  resize: none;
  overflow: auto;
}

.form__input,
.form__textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  overflow: hidden;
  border-radius: 0;
  max-width: 100%;
  border-bottom: 2px solid #292828;
  opacity: 0.6;
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  color: #292828;
  padding: 0.3125em 0;
  width: 100%;
  background-color: transparent;
  text-transform: uppercase;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  opacity: 0.8;
  -webkit-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  opacity: 0.8;
  -moz-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  opacity: 0.8;
  -ms-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  opacity: 0.8;
  -ms-transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input::placeholder,
.form__textarea::placeholder {
  opacity: 0.8;
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #292828;
}

.form__input:focus,
.form__input:hover,
.form__textarea:focus,
.form__textarea:hover {
  border-bottom-color: #292828;
  opacity: 1;
  color: #292828;
}

.form__input:focus::-webkit-input-placeholder, .form__input:hover::-webkit-input-placeholder, .form__textarea:focus::-webkit-input-placeholder, .form__textarea:hover::-webkit-input-placeholder {
  color: #292828;
}

.form__input:focus::-moz-placeholder, .form__input:hover::-moz-placeholder, .form__textarea:focus::-moz-placeholder, .form__textarea:hover::-moz-placeholder {
  color: #292828;
}

.form__input:focus:-ms-input-placeholder, .form__input:hover:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder, .form__textarea:hover:-ms-input-placeholder {
  color: #292828;
}

.form__input:focus::-ms-input-placeholder, .form__input:hover::-ms-input-placeholder, .form__textarea:focus::-ms-input-placeholder, .form__textarea:hover::-ms-input-placeholder {
  color: #292828;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder,
.form__textarea:focus::placeholder,
.form__textarea:hover::placeholder {
  color: #292828;
}

.form__input--small,
.form__textarea--small {
  font-size: 1.125em;
}

.form__input--white,
.form__textarea--white {
  border-bottom-color: #ffffff;
  color: #ffffff;
  opacity: 1;
}

.form__input--white:focus,
.form__input--white:hover,
.form__textarea--white:focus,
.form__textarea--white:hover {
  color: #DAE7F2;
  border-bottom-color: #DAE7F2;
  opacity: 1;
}

.nav__link {
  font-family: "latobold", Playfair, Arial, serif;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.0714285714em;
}

.nav__link--dropdown:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E903";
  font-size: 0.875em;
  margin-left: 0.625em;
}

@media only screen and (max-width: 759px) {
  .nav {
    margin: 2.5em auto;
  }

  .nav__item {
    padding: 1.875em;
    border-bottom: 1px solid rgba(79, 28, 40, 0.2);
  }

  .nav__link {
    font-size: 1.25em;
    color: #4F1C28;
    display: block;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__link:focus {
    height: 100%;
  }

  .nav__link:focus + .nav__list_sub {
    position: relative;
    opacity: 1;
    visibility: visible;
  }

  .nav__link--dropdown:after {
    position: absolute;
    right: 10%;
  }

  .nav__list_sub {
    margin-top: 1.875em;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub {
    margin: 1.25em 0.625em;
  }

  .nav__link_sub {
    font-size: 1.125em;
    text-transform: uppercase;
    color: #4F1C28;
    padding: 1.25em 1.875em;
    position: relative;
  }

  .nav__link_sub:before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    background-color: #4F1C28;
  }
}

@media only screen and (min-width: 760px) {
  .nav__item {
    display: inline-block;
    margin: 0 1.25em;
    position: relative;
  }

  .nav__item--dropdown:hover .nav__list_sub {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  .nav__link {
    letter-spacing: 0.0714285714em;
    position: relative;
    padding: 0.625em;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__link:before {
    position: absolute;
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #DAE7F2;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .nav__link:hover {
    color: #4F1C28;
  }

  .nav__link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__list_sub {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    padding: 1.25em 0 1.25em 1.875em;
    background-color: #DAE7F2;
    border: 2px solid #4F1C28;
    width: 12.5em;
    z-index: 10;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.0714285714em;
    position: relative;
    padding: 0.9375em 0;
    transition: font-weight 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub:after {
    position: absolute;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E906";
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;
    opacity: 0;
    top: calc(50% - 9px);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .nav__item_sub:hover {
    font-weight: bold;
  }

  .nav__item_sub:hover:after {
    transform: translateX(15px);
    opacity: 1;
  }
}

.social__item {
  display: inline-block;
  padding: 0.4375em 0.5em;
  margin: 0 0.75em;
  border-radius: 100%;
  background-color: #292828;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social__item:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #4F1C28;
  border-radius: 100%;
  opacity: 0;
  z-index: -1;
  transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social__item:hover {
  background-color: #4F1C28;
}

.social__item:hover:after {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.social__link {
  font-size: 1em;
}

.social__link--fb:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E908";
  color: #ffffff;
}

.social__link--insta:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E902";
  color: #ffffff;
}

@media only screen and (max-width: 759px) {
  .social__list {
    text-align: center;
  }
}

.search {
  position: relative;
}

.search__link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.search__link ~ .search__icon:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid #4F1C28;
  border-radius: 100%;
  opacity: 0;
  transition: width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search__link:hover ~ .search__icon {
  background-color: #4F1C28;
}

.search__link:hover ~ .search__icon:after {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.search__icon {
  display: inline-block;
  padding: 0.4375em 0.5em;
  margin: 0 0.75em;
  border-radius: 100%;
  background-color: #292828;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search__icon:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E900";
  color: #ffffff;
}

@media only screen and (max-width: 759px) {
  .search {
    margin-bottom: 2.5em;
  }

  .search__icon,
  .search__close,
  .search__hide,
  .search__link {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  .search__container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .search__container:target {
    position: fixed;
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }

  .search__container:target .search__modal {
    transform: translateY(0);
  }

  .search__hide {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .search__modal {
    z-index: 1;
    background-color: #DAE7F2;
    width: 100%;
    padding: 6.25em;
    transform: translateY(-50px);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .search__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search__form {
    width: 65.8374792703%;
  }

  .search__close {
    font-size: 0.875em;
    color: #4F1C28;
  }

  .search__close:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E914";
    display: inline-block;
    font-size: 0.75em;
    color: #4F1C28;
    margin-right: 0.625em;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .search__close:hover:before {
    transform: rotate(90deg);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 1.875em 0;
}

.header__logo {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  width: 100px;
}

.header__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 759px) {
  .header--show {
    background-color: #DAE7F2;
  }

  .header--show .header__nav,
  .header--show .header__icons {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translateY(0);
  }

  .header--show .header__container {
    height: 100vh;
    overflow-y: scroll;
  }

  .header__nav,
  .header__icons {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(20px);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__container {
    flex-direction: column;
  }

  .header__responsive {
    position: absolute;
    right: 0;
    top: 2.375em;
  }

  .header__lines {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #4F1C28;
    position: relative;
  }

  .header__lines:after,
  .header__lines:before {
    content: "";
    position: absolute;
    background-color: #4F1C28;
    height: 3px;
    width: 30px;
    left: 0;
  }

  .header__lines:after {
    top: -8px;
  }

  .header__lines:before {
    top: 8px;
  }

  .header__content {
    flex-direction: column;
    align-items: stretch;
  }
}

@media only screen and (min-width: 760px) {
  .header__container {
    align-items: center;
  }

  .header__responsive {
    display: none;
  }

  .header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: #4F1C28;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4.375em 0 6.25em;
}

.footer__bottom {
  padding: 1.25em 0;
}

.footer__legal {
  font-size: 0.875em;
  margin-right: 2.8571428571em;
  color: #ffffff;
  position: relative;
}

.footer__legal:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.footer__legal:hover:after,
.footer__legal:focus:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.footer__legal:hover,
.footer__legal:focus {
  color: #DAE7F2;
}

.footer__newsletter {
  width: 31.6749585406%;
}

.footer__form {
  margin-top: 2.5em;
}

.footer__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.25em;
  color: #ffffff;
  margin-bottom: 1.5625em;
}

.footer__item {
  margin: 1.25em 0;
  max-width: 9.375em;
}

.footer__link {
  line-height: 1.3125em;
  padding: 0.3125em 0;
  color: #ffffff;
  position: relative;
}

.footer__link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DAE7F2;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.footer__link:hover,
.footer__link:focus {
  color: #DAE7F2;
}

.footer__link:hover:after,
.footer__link:focus:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 1023px) {
  .footer__newsletter {
    width: 100%;
    margin-bottom: 6.25em;
  }
}

@media only screen and (max-width: 639px) {
  .footer__content {
    width: 45%;
    margin: 1.875em 0;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__legal {
    display: inline-block;
  }

  .footer__legal:first-of-type {
    margin-bottom: 1.25em;
  }
}

.pag--green .page-item.active {
  background-color: #2A4A4F;
}

.pag--blue .page-item.active {
  background-color: #203344;
}

.pagination {
  margin-top: 3.125em;
  text-align: center;
}

.page-item {
  display: inline-block;
  font-family: "latoregular", Playfair, Arial, serif;
  color: #292828;
  font-size: 1.125em;
  padding: 0.2777777778em 0.5555555556em;
  margin: 0 0.5555555556em;
}

.page-item.active {
  color: #ffffff;
}

.page-item {
  position: relative;
}

.page-item:first-of-type .page-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.page-item:first-of-type:before {
  display: inline-block;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E903";
  font-size: 0.7777777778em;
  transform: rotate(90deg);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-item:first-of-type:hover:not(.disabled):before {
  transform: rotate(90deg) translateY(5px);
}

.page-item:last-of-type .page-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.page-item:last-of-type:before {
  display: inline-block;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E903";
  font-size: 0.7777777778em;
  transform: rotate(-90deg);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-item:last-of-type:hover:not(.disabled):before {
  transform: rotate(-90deg) translateY(5px);
}

.info {
  position: relative;
  padding-bottom: 1.25em;
}

.info--home {
  background-color: #f9f9f9;
}

.info:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 7.5em;
  bottom: -0.3125em;
  z-index: 0;
  background-color: #4F1C28;
}

.info__container {
  background-color: #DAE7F2;
  border: 4px solid #4F1C28;
  text-align: center;
  max-width: 62.5em;
  padding: 3.125em 6.0530679934%;
  z-index: 10;
}

.info__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2.375em;
  padding-bottom: 0.6578947368em;
  color: #4F1C28;
}

.info__text {
  font-size: 1.125em;
  line-height: 1.6666666667em;
  padding-bottom: 1.6666666667em;
  color: #4F1C28;
}

.info__link {
  font-size: 1.125em;
  color: #4F1C28;
}

.tabs {
  margin-bottom: 3.125em;
}

.tabs__item {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.25em;
  padding: 1.5em 1.5em;
  position: relative;
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tabs__item:not(:first-of-type) a {
  border-top: none;
}

.tabs__item:after {
  position: absolute;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E906";
  font-size: 1.25em;
  font-weight: 900;
  top: calc(50% - 12px);
  right: 1.5em;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tabs__item:not(.tabs__item--active):hover:after {
  transform: translateX(10px);
}

.tabs__item--active a,
.tabs__item--active:hover a {
  background-color: #292828;
  color: #ffffff;
}

.tabs__item--active:after {
  color: #ffffff;
}

.tabs__link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  border: 3px solid #292828;
}

.tabs__link:hover,
.tabs__link:focus {
  background-color: #DAE7F2;
}

@media only screen and (min-width: 920px) {
  .tabs {
    padding-top: 1.25em;
  }
}

.newsletter {
  padding: 2.5em 0 12.5em;
}

.newsletter__container {
  position: relative;
}

.newsletter__container:before {
  content: "";
  position: absolute;
  top: -70px;
  right: -70px;
  width: 12.5em;
  height: 12.5em;
  background-color: #DAE7F2;
  z-index: -1;
}

.newsletter__container:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 6.25em;
  height: 6.25em;
  background-color: #DAE7F2;
  z-index: -1;
}

.newsletter--blue .newsletter__container:before,
.newsletter--blue .newsletter__container:after {
  background-color: #DAE7F2;
}

.newsletter--green .newsletter__container:before,
.newsletter--green .newsletter__container:after {
  background-color: #C2E4D4;
}

.newsletter--pink .newsletter__container:before,
.newsletter--pink .newsletter__container:after {
  background-color: #E6C9C9;
}

.newsletter__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 3em;
  padding-bottom: 0.625em;
}

.newsletter__text {
  font-size: 1.125em;
  line-height: 1.5555555556em;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 759px) {
  .newsletter {
    overflow: hidden;
  }
}

@media only screen and (min-width: 760px) {
  .newsletter__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5em 3.125em;
    border: 4px solid #292828;
  }

  .newsletter__container:before {
    top: -40px;
    right: -40px;
  }

  .newsletter__container:after {
    bottom: -20px;
    left: -20px;
  }

  .newsletter__content {
    width: 40.2155887231%;
  }

  .newsletter__form {
    width: 48.7562189055%;
  }
}

@media only screen and (min-width: 1024px) {
  .newsletter__container {
    padding: 5em 6.25em;
  }
}

.eventCard {
  position: relative;
  margin-bottom: 3.75em;
}

.eventCard:hover .eventCard__img {
  transform: scale(1.2);
}

.eventCard__link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.eventCard__fig {
  width: calc(100% - 20px);
  height: 14.375em;
  overflow: hidden;
  margin-left: 1.25em;
}

.eventCard__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eventCard__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  line-height: 1.3333333333em;
  padding: 0.3333333333em 0;
  margin-left: 0.8333333333em;
}

.eventCard__excerpt {
  line-height: 1.375em;
  margin-left: 1.25em;
}

.eventCard__type {
  position: absolute;
  top: 0;
  right: 0;
}

.eventCard__date {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #DAE7F2;
  padding: 0.9375em 1.125em;
  border: 3px solid #4F1C28;
  color: #4F1C28;
  text-align: center;
}

.eventCard__day {
  display: block;
  font-family: "latoblack", Playfair, Arial, serif;
  font-size: 2.625em;
}

.eventCard__month {
  display: block;
  font-size: 0.875em;
}

@media only screen and (min-width: 920px) {
  .eventCard {
    width: 31.6749585406%;
  }

  .eventCard--big {
    width: 100%;
  }

  .eventCard--big .eventCard__fig {
    width: 50%;
    height: 21.875em;
    float: left;
  }

  .eventCard--big .eventCard__title {
    font-size: 3em;
    line-height: 1.1111111111em;
    padding-bottom: 0.6944444444em;
  }

  .eventCard--big .eventCard__excerpt {
    font-size: 1.25em;
    line-height: 1.1em;
  }

  .eventCard--big .eventCard__title,
  .eventCard--big .eventCard__excerpt {
    margin-left: 0;
    padding-left: calc(50% + 50px);
  }

  .eventCard--big .eventCard__type {
    right: calc(50% - 19px);
  }
}

.allEvents {
  padding: 4.375em 0 7.5em;
}

@media only screen and (min-width: 920px) {
  .allEvents__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.latestEvents {
  padding: 7.5em 0 6.25em;
}

.latestEvents--home {
  background-color: #ffffff;
}

.latestEvents--footer {
  background-color: #f9f9f9;
}

.latestEvents__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2em;
}

.latestEvents__year {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  text-align: right;
  padding: 0.9583333333em 0 1.25em;
}

.latestEvents__bottom {
  margin-top: 1.25em;
  text-align: right;
}

@media only screen and (min-width: 920px) {
  .latestEvents__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125em;
  }

  .latestEvents__content {
    display: flex;
    justify-content: space-between;
  }

  .latestEvents__title {
    display: inline-block;
    font-size: 4em;
  }

  .latestEvents__year {
    display: inline-block;
    text-align: right;
  }

  .latestEvents .eventCard {
    width: 31.6749585406%;
  }
}

.newsCard {
  position: relative;
  margin-bottom: 1.875em;
}

.newsCard--big {
  position: relative;
}

.newsCard--big .newsCard__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25em;
  color: #ffffff;
  align-items: flex-end;
}

.newsCard--big .newsCard__title {
  font-size: 1.5em;
}

.newsCard--big .newsCard__fig {
  height: 100%;
}

.newsCard:hover .newsCard__img {
  transform: scale(1.2);
}

.newsCard__link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.newsCard__fig {
  width: 100%;
  height: 16.25em;
  margin-bottom: 0.9375em;
  overflow: hidden;
}

.newsCard__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.newsCard__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.25em;
  line-height: 1.35em;
}

.newsCard__type {
  padding-bottom: 0.625em;
}

.newsCard__date {
  padding-left: 1.875em;
  text-align: center;
}

.newsCard__day {
  display: block;
  font-family: "latoblack", Playfair, Arial, serif;
  font-size: 3.75em;
}

.newsCard__month {
  display: block;
  font-size: 1em;
}

.newsCard__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1.25em;
}

.allPosts {
  padding: 6.25em 0 9.375em;
}

.allPosts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 640px) {
  .allPosts .newsCard {
    width: 48.7562189055%;
  }
}

@media only screen and (min-width: 920px) {
  .allPosts .newsCard {
    width: 31.6749585406%;
  }

  .allPosts .newsCard--big {
    width: 48.7562189055%;
  }
}

.latestNews {
  background-color: #f9f9f9;
  padding: 6.25em 0;
}

.latestNews__container {
  position: relative;
}

.latestNews__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2em;
  position: absolute;
  top: -3.125em;
  transform: translateY(-50%);
  right: 0;
}

.latestNews__subTitle {
  font-family: "latobold", Playfair, Arial, serif;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.latestNews__bottom {
  padding-top: 1.875em;
}

@media only screen and (min-width: 920px) {
  .latestNews__content {
    display: flex;
    justify-content: space-between;
  }

  .latestNews__title {
    font-size: 4em;
    top: -1.5625em;
    transform: translateY(-50%);
  }

  .latestNews .newsCard {
    width: 27%;
  }

  .latestNews .newsCard--big {
    width: 40.2155887231%;
  }
}

.allPress {
  padding: 6.25em 0 9.375em;
}

.allPress__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2.25em;
  padding-bottom: 0.9375em;
}

@media only screen and (min-width: 1248px) {
  .allPress__container {
    padding: 0 6.25em;
  }
}

.pressCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5.625em 0;
  position: relative;
}

.pressCard__link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.pressCard__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.25em;
  line-height: 1.6em;
}

.pressCard__excerpt {
  line-height: 1.625em;
  padding-bottom: 0.625em;
}

.pressCard__source {
  font-family: "latobold", Playfair, Arial, serif;
}

.pressCard__date {
  width: 48.7562189055%;
  margin-bottom: 1.875em;
  align-self: flex-start;
}

.pressCard__day {
  font-family: "latoblack", Playfair, Arial, serif;
  font-size: 4.375em;
  display: block;
  padding-right: 0.1428571429em;
}

.pressCard__month {
  font-family: "latobold", Playfair, Arial, serif;
  font-size: 1.125em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

.pressCard__year {
  font-family: "latoregular", Playfair, Arial, serif;
  font-size: 1.125em;
}

@media only screen and (min-width: 760px) {
  .pressCard {
    flex-direction: row;
  }

  .pressCard__content {
    margin-left: 1.875em;
    width: 82.9187396352%;
  }

  .pressCard:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 10.625em;
    height: calc(100% + 20px);
    background-color: #f9f9f9;
    z-index: -1;
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .pressCard:hover:after {
    background-color: #DAE7F2;
    width: 18.75em;
  }

  .pressCard__date {
    padding: 1.25em;
    width: 23.1343283582%;
    min-width: 12.5em;
    margin-bottom: 0;
    align-self: center;
  }

  .pressCard__day {
    float: left;
  }

  .pressCard__month {
    display: block;
  }
}

.allRestos {
  padding: 6.25em 0 9.375em;
}

.allRestos__intro {
  padding-bottom: 6.25em;
}

.allRestos__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2.25em;
  padding-bottom: 0.9375em;
}

.allRestos__text {
  font-size: 1.125em;
  line-height: 1.6666666667em;
  padding-bottom: 2.7777777778em;
  padding-right: 3.8888888889em;
}

.allRestos__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media only screen and (min-width: 920px) {
  .allRestos__container {
    display: flex;
    align-items: flex-start;
  }

  .allRestos__intro {
    width: 40.2155887231%;
    position: -webkit-sticky;
    position: sticky;
    top: 3.125em;
    padding-bottom: 3.125em;
  }

  .allRestos__content {
    width: 57.2968490879%;
    margin-top: -1.5625em;
  }
}

.restoCard {
  padding: 0.9375em;
  margin-bottom: 4.375em;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.restoCard:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #DAE7F2;
  z-index: -1;
  transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), right 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.restoCard:hover {
  border-color: #292828;
}

.restoCard:hover:after {
  top: -20px;
  right: -20px;
}

.restoCard__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.875em;
  line-height: 1.3333333333em;
  padding-bottom: 0.8333333333em;
}

.restoCard__menu {
  font-size: 1.125em;
  line-height: 1.3888888889em;
  padding-bottom: 2.7777777778em;
}

@media only screen and (min-width: 640px) {
  .restoCard {
    width: 50%;
    padding: 1.875em;
  }
}

@media only screen and (min-width: 920px) {
  .restoCard {
    width: 47.4489795918%;
  }
}

.renting:first-of-type {
  padding-top: 6.25em;
}

.renting:nth-child(3) {
  padding: 7.5em 0 9.375em;
}

.renting__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 2.25em;
  padding-bottom: 0.9375em;
}

.renting__text {
  font-size: 1.125em;
  line-height: 1.6666666667em;
  padding-bottom: 2.7777777778em;
}

@media only screen and (min-width: 920px) {
  .renting__container {
    display: flex;
    align-items: flex-start;
  }

  .renting__content {
    width: 57.2968490879%;
  }

  .renting__intro {
    width: 31.6749585406%;
    margin-right: 8.125em;
  }

  .renting__intro--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -50px;
  }
}

.rentingInfo {
  padding-bottom: 3.125em;
}

.rentingInfo__title {
  font-family: "abril_fatfaceregular", Playfair, Arial, serif;
  font-size: 1.5em;
  padding-bottom: 1.6666666667em;
}

.rentingInfo__item {
  padding-bottom: 1.875em;
}

.rentingInfo__feature {
  font-family: "latobold", Playfair, Arial, serif;
  font-size: 1.25em;
  padding-bottom: 0.75em;
}

.rentingInfo__description,
.rentingInfo__info {
  font-size: 1.125em;
  line-height: 1.6666666667em;
  padding-bottom: 0.5555555556em;
}

@media only screen and (min-width: 640px) {
  .rentingInfo__item {
    display: flex;
    align-items: flex-start;
  }

  .rentingInfo__feature {
    padding-right: 1.875em;
  }
}

