$colors:
(
    white:      #ffffff,
    black:      #292828,
    grey:       #f9f9f9,

    blue:       #DAE7F2,
    green:      #C2E4D4,
    pink:       #E6C9C9,

    darkblue:   #203344,
    darkgreen:  #2A4A4F,
    purple:     #4F1C28,

    error:      #892C2C,
    success:    #BBD5B6
);