$icons:
(
    search:     "\e900",
    mail:       "\e901",
    insta:      "\e902",
    chevron:    "\e903",
    check:      "\e904",
    time:       "\e905",
    arrow:      "\e906",
    download:   "\e907",
    fb:         "\e908",
    pin:        "\e909",
    phone:      "\e90a",
    dollar:     "\e90b",
    users:      "\e90c",
    check2:     "\e90d",
    user:       "\e90e",
    card:       "\e90f",
    cart:       "\e910",
    list:       "\e911",
    plus:       "\e912",
    calendar:   "\e913",
    cross:      "\e914"

);
