$icons:
(
    mail:       "\e900",
    insta:      "\e901",
    chevron:    "\e902",
    check:      "\e903",
    time:       "\e904",
    arrow:      "\e905",
    download:   "\e906",
    fb:         "\e907",
    pin:        "\e908",
    phone:      "\e909",
    dollar:     "\e90a",
    users:      "\e90b",
    check2:     "\e90c",
    user:       "\e90d",
    card:       "\e90e",
    cart:       "\e90f",
    list:       "\e910",
    plus:       "\e911",
    calendar:   "\e912",
    cross:      "\e913"

);
