$font-sizes: (
    xl12:   72,
    xl10:   64,
    xl9:    48,
    xl8:    48,
    xl7:    42,
    xl6:    38,
    xl5:    36,
    xl4:    32,
    xl3:    24,
    xl2:    22,
    xl:     20,
    l:      18,
    m:      16,
    s:      14,
    xs:     12,
    xs2:    10,
    xs3:    8
);
