.alert{
    padding: em(20);

    &__error{
        @include font(latobold);
        background-color: rgba(137, 44, 44, 0.2);
        border: 2px solid color(error);
        color: color(error);
    }

    &__taken,
    &__total{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 110;
        background-color: rgba(0,0,0,0.3);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s $easin3, visibility 0.3s $easin3;
    }

        &--show{
            visibility: visible;
            opacity: 1;

            .alert__content{
                transform: translateX(0);
            }
        }

    &__content{
        background-color: color(white);
        position: absolute;
        top: em(40);
        right: em(40);
        max-width: em(400);
        font-size: em(m);
        line-height: em(25);
        border: 5px solid #e66363;
        transform: translateX(100px);
        transition: transform 0.3s $easin3;
        color: #b54848;

        &:after{
            content: '!';
            position: absolute;
            top: -17px;
            left: -15px;
            background-color: #e66363;
            border: 5px solid #e66363;
            border-radius: 100%;
            padding: 0px 11px;
            color: color(white);
        }
    }

    &__text{
        padding: em(70) em(30) em(30);
    }

    &__link{
        display: inline-block;
        position: relative;
        color: #b54848;

        &:after{
            content: '';
            position:absolute;
            bottom: 0;
            left:0;
            width:100%;
            height: 3px;
            z-index: -1;
            background-color: #e66363;
            transition: height 0.3s $easin;
        }
        &:hover, &:focus{
            color: color(white);
        }
        &:hover:after, &:focus:after{
            height: 100%;
        }
    }

    &__close{
        display: block;
        position: absolute;
        top: em(15);
        right: em(15);
        text-align: right;
        @include font(latobold);
        color: #b54848;

        &:before{
            @include icon(cross);
            font-size: em(xs);
            margin-right: em(10);
            display: inline-block;
            transition: transform 0.3s $easin;
        }

        &:hover:before, &:focus:before{
            transform: rotate(90deg);
        }
    }
}