.allPress{
    padding: em(100) 0 em(150);

    &__container{
        padding: 0 em(100);
    }

    &__title{
        @include font();
        font-size: em(xl4);
        padding-bottom: em(15);
    }
}