.bSeats{
    padding: em(30) 0 em(70);

    &__check{
        display: none;
    }

    &__title{
        @include font(latobold);
        font-size: em(xl);
        padding-bottom: em(20, xl);
    }

    &__btn{
        display: flex;
        justify-content: space-between;
        padding: em(40) 0;
    }

    &__svg{
        width: 100%;
        margin: 0 auto;

        svg{
            width: 100%;
            height: auto
        }

        .circle{
            cursor: pointer;

            &--selected{
                fill: color(pink);
            }

            &--occupied{
                cursor: default;
                fill: color(border);
            }
        }
    }

    &__next{
        text-align: right;
    }

    &__info{
        padding: em(20);
        background-color: color(grey);
        margin-top: em(30);
        margin-bottom: em(30);
    }
}