.btn{
    @include font();
    font-size: em(m);
    text-align: center;
    background-color: transparent;
    border: none;

    &--primary{
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: em(15,m) em(25,m) ;
        border: 2px solid color(black);
        transition: color .7s cubic-bezier(0.77,0,0.18,1);;

        &:before{
            content: '';
            z-index: -1;
            position: absolute;
            bottom: 100%;
            right: 100%;
            width: 5em;
            height: 5em;
            border-radius: 50%;
            background-color: color(black);
            transform-origin: center;
            transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
            transition: transform .7s cubic-bezier(0.77,0,0.18,1);
        }

        &:hover, &:focus{
            color: color(white);

            &:before{
                transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
            }
        }
    }

    &--secondary{
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-transform: uppercase;
        color:color(blue);
        font-size: em(l, m);
        background-color: color(purple);
        border: 2px solid color(purple);
        padding: em(15,m) em(25,m);
        transition: color .7s cubic-bezier(0.77,0,0.18,1);;

        &:before{
            content: '';
            z-index: -1;
            position: absolute;
            bottom: 100%;
            right: 100%;
            width: 5em;
            height: 5em;
            border-radius: 50%;
            background-color: color(blue);
            transform-origin: center;
            transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
            transition: transform .7s cubic-bezier(0.77,0,0.18,1);
        }

        &:hover, &:focus{
            color: color(purple);

            &:before{
                transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
            }
        }
    }

    &--download{
        position: relative;
        &:after{
            margin-left: em(20);
            @include icon(download);
        }
    }

    &--arrow{
        position: absolute;
        bottom:0;
        right:0;
        background-color: transparent;
        border:none;
        transition: right 0.2s $easin;

        &:after{
            @include icon(arrow);
            font-size: em(xl7);
            color: color(black);
            cursor: pointer;
        }

        &:hover, &:focus{
            right: -6px;
        }
    }

    &--white{
        color: color(white);

        &:after{
            font-size: em(xl4);
            color: color(white);
        }
    }


}