.contact{
    padding-top: em(100);

    &__mapContainer{
        width: 100%
    }

    &__map{
        width: 100%;
        height: em(500);
    }

    @include mq(xl){
        &__container{
            padding-left: em(100);
            padding-right: em(100);
        }
    }

    @include mq(m){
        &__info{
            display: flex;
            justify-content: space-between;

            .contactInfo{
                width: col(4)
            }
        }
    }
}