.eventInfo{
    max-width: 500px;
    padding: em(30);
    box-shadow:  18px 18px 45px #e3e3e3,
                 -18px -18px 45px color(white);
    margin-bottom: em(50);


    &__btn{
        width: 100%;
    }

    &__item{
        padding: em(10) 0;

        &:not(:last-of-type){
            border-bottom: 1px solid color(grey);
        }
    }

    &__itemSub{
        margin-left: em(40);
        padding: em(5) 0;
        position: relative;

        &:before{
            content:'';
            position: absolute;
            height: 4px;
            width: 4px;
            top: calc(50% - 2px);
            left: -10px;
            border-radius: 100%;
            background-color: color(purple)
        }
    }

    &__label{
        @include font(latobold);
        padding-bottom: em(10);
        padding-left: em(30);
        position: relative;
        &:before{
            position: absolute;
            left: 0;

        }
        &--price:before{
            @include icon(dollar);
            font-weight: bold;
            margin-right: em(10)
        }

        &--time:before{
            @include icon(time);
            font-weight: bold;
            margin-right: em(10)
        }

        &--public:before{
            @include icon(users);
            font-weight: bold;
            margin-right: em(10)
        }

        &--date:before{
            @include icon(calendar);
            font-weight: bold;
            margin-right: em(10)
        }

        &--pin:before{
            @include icon(pin);
            font-weight: bold;
            margin-right: em(10)
        }
    }

    &__btn{
        margin-top:em(25)
    }

    &__content{
        margin-left: em(30);
        li{
            margin-bottom: em(8);
            position: relative;
            padding-left: em(10);

            &:before{
                position: absolute;
                content: '';
                height: 4px;
                width: 4px;
                border-radius: 100%;
                background-color: color(purple);
                top: calc(50% - 2px);
                left: 0;
            }
        }
    }
    @include mq(m){
        position: sticky;
        top: em(50);
        min-width: 350px;
    }
}