.form{

    &__control{
        position: relative;
        margin-bottom: em(60);

        &--error{
            .form__input,
            .form__textarea{
                //opacity: 1;
                border-bottom-color: color(error);
                color: color(error);
            }
            .form__input:hover,
            .form__textarea:hover,
            .form__input:hover::placeholder,
            .form__textarea:hover::placeholder,
            .form__input:focus,
            .form__textarea:focus,
            .form__input:focus::placeholder,
            .form__textarea:focus::placeholder{
                opacity: 1;
                border-bottom-color: color(error);
                color: color(error);
            }
            .form__input::placeholder,
            .form__textarea::placeholder{
                color: color(error);
            }
        }

        &--disabled{
            .form__input,
            .form__label{
                cursor: default;
                opacity: 0.5;
                background-color: transparent;
            }
        }

        &--white{
            &:after{
                background-color: color(blue);
            }
        }
    }

    &__btnContainer{
        text-align: right
    }

    &__error{
        color: color(error);
        @include font(latobold);
        position: absolute;
        top: 0;
        right: 0;
    }

    &__label{
        cursor: pointer;
        display: block;
        @include font(latobold);
        padding-bottom: em(10);

        &--white{
            @include font(latoregular);
            color: color(white);
            text-transform: uppercase;
            font-size: em(s);
        }

    }

    &__textarea{
        resize: none;
        overflow: auto;
    }

    &__input,
    &__textarea{
        @include reset-input-styles();
        @include input-placeholder();
        border-bottom: 2px solid color(black);
        opacity: 0.6;
        @include font();
        font-size: em(xl3);
        color: color(black);
        padding: em(5) 0;
        width: 100%;
        background-color: transparent;
        text-transform: uppercase;
        transition: opacity 0.5s cubic-bezier(.645, .045, .355, 1);

        &::placeholder{
            opacity: 0.8;
            transition: color 0.5s cubic-bezier(.645, .045, .355, 1);
            color: color(black);
        }

        &:focus,
        &:hover{
            border-bottom-color: color(black);
            opacity: 1;
            color: color(black);

            &::placeholder{
                color: color(black);
            }
        }

        &--small{
            font-size: em(l)
        }

        &--white{
            border-bottom-color: color(white);
            color: color(white);
            opacity: 1;

            &:focus,
            &:hover{
                color: color(blue);
                border-bottom-color: color(blue);
                opacity: 1;
            }
        }
    }
}