.form{

    &__control{
        position: relative;

        &--margin{
            margin-bottom: em(60);
        }

        &--disabled{
            .form__input,
            .form__label{
                cursor: default;
                opacity: 0.5;
                background-color: transparent;
            }
        }

        &--error{
            input, textarea{
                border-color: color(error)
            }
            input::placeholder, textarea::placeholder{
                color: color(error);
            }
        }
    }

    &__label:not(.form__label--checkbox){
        @include font(latobold);
        position: absolute;
        top: -20px;
        left: 0;
        opacity: 1;
        transition: top 0.2s $easin, opacity 0.2s $easin;
    }

    &__input,
    &__textarea{
        @include reset-input-styles();
        @include input-placeholder();
        @include font();
        font-size: em(xl3);
        //text-transform: uppercase;
        color: color(black);

        border-bottom: 2px solid transparentize(color(black), 0.4);
        padding: em(5) 0;
        width: 100%;
        background-color: transparent;
        transition: border-bottom 0.2s $easin;

        &:placeholder-shown + label{
            top: 0;
            opacity:0;
        }

        &:not(:placeholder-shown) + label{
            top:-15px;
            opacity:1;
        }

        &::placeholder{
            transition: color 0.2s $easin;
        }

        &:focus,
        &:hover{
            border-bottom: 2px solid transparentize(color(black), 0);

            &::placeholder{
                color: color(black);
            }
        }

        &--small{
            font-size: em(l)
        }

        &--white{
            border-bottom: 2px solid transparentize(color(white), 0.4);
            color: color(white);

            &:hover, &:focus{
                border-bottom: 2px solid transparentize(color(white), 0);
            }
        }
    }



//*****************************************

    &__btnContainer{
        text-align: right
    }

    &__error{
        color: color(error);
        @include font(latobold);
        position: absolute;
        top: 0;
        right: 0;

        &--white{
            color: color(white);
        }
    }

    &__textarea{
        resize: none;
        overflow: auto;
    }

    &__label{

        &--white{
            color: color(white);
        }

        &--radio,
        &--checkbox{
            @include font();
            display: inline-block;
            font-size: em(xl);
            margin-top: em(20);
            margin-left: em(35,xl);
            position: relative;
            padding:0;
            opacity: 0.8;
            transition: color 0.2s $easin;

            &:after{
                content: "";
                position: absolute;
                left: -35px;
                top: calc(50% - 10px);
                width: 20px;
                height: 20px;
                background-color: color(white);
                border: 2px solid color(black);
                transition: opacity 0.2s $easin,
                            background-color 0.2s $easin;
            }

            &:hover{
                &:after{
                    opacity: 1;
                    background-color: color(blue)
                }
            }
        }

        &--checkbox{
            &:before {
                @include icon(check);
                font-size: em(xs2);
                display: inline-block;
                font-weight: 900;
                color: color(white);
                position: absolute;
                left: -31px;
                top: calc(50% - 6px);
            }
        }

        &--radio{
            &:before {
                content: '';
                position: absolute;
                left: -30px;
                top: calc(50% - 5px);
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: color(black)
            }

            &:after{
                border-radius: 100%;
            }
        }

    }

    &__radio,
    &__checkbox{
        @include hidden();

        &:checked + label{
            opacity:1;
            color: color(black);
        }

        &:checked + label:before{
            z-index: 2;
        }

        &:checked + label:after{
            border-color: color(black);
        }

        &:focus + label:after{
            border-color: color(black);
            box-shadow: 0px 0px 2px color(black);
        }
        &:focus + label,
        &:hover + label{
            color: color(black);
        }
    }

    &__checkbox{
        &:checked + label:after{
            background-color: color(black);
        }
    }


    /**********************************/

    &__select{
        @include reset-input-styles();
        @include input-placeholder();
        border: 1px solid color(darkgrey);
        border-radius: 3px;
        padding: em(8) em(10);
        @include font(latoregular);
        font-size: em(m);
        width: 75px;
        cursor: pointer;
        transition: border-color 0.3s $easin;

        &:hover, &:focus{
            border-color: color(black);
        }

    }

    &__select_wrapper{
        position: relative;

        &:after{
            position: absolute;
            @include icon(chevron);
            color: color(darkgrey);
            font-size: em(s);
            font-weight: 300;
            top: calc(50% - 6px);
            right: 10px;
            transition: color 0.3s $easin;
        }

        &:hover, &:focus{
            &:after{
                color: color(black);
            }
        }

    }

}