.header{
    &__container{
        display: flex;
        justify-content: space-between;
        padding: em(30) 0;
    }

    &__logo{
        @include font();
        font-size: em(xl3);
        width: 100px;
    }

    &__content{
        flex:1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include mq(m, max){
        &--show{
            height: 100vh;
            overflow-y: scroll;
            background-color: color(blue);
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            //height: 100%;
            z-index: 100;

            .header__nav,
            .header__icons{
                opacity: 1;
                visibility: visible;
                position: relative;
                transform: translateY(0);
            }
            .header__container{
                height: 100vh;
                // overflow-y: scroll;
            }

        }
        &__nav,
        &__icons{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transform: translateY(20px);
            // transition: transform 0.3s $easin,
            //             opacity 0.3s $easin,
            //             visibility 0.3s $easin,
        }
        &__container{
            flex-direction: column;

        }

        &__responsive{
            position: absolute;
            right:0;
            top:em(38);
        }

        &__lines{
            display: block;
            height: 3px;
            width: 30px;
            background-color: color(purple);
            position: relative;

            &:after,
            &:before{
                content: '';
                position: absolute;
                background-color: color(purple);
                height: 3px;
                width: 30px;
                left:0;
            }

            &:after{
                top:-8px;
            }

            &:before{
                top: 8px;
            }
        }

        &__content{
            flex-direction: column;
            align-items:stretch;
        }
    }

    @include mq(m, min){
        &__container{
            align-items: center;
        }

        &__responsive{
            display: none
        }

        &__icons{
            display: flex;
            justify-content: space-between;
            align-items: center
        }
    }

}