.latestEvents{
    padding: em(120) 0 em(100);

    &--home{
        background-color: color(white);
    }

    &--footer{
        background-color: color(grey);
    }

    &__title{
        @include font();
        font-size: em(xl4);
        padding-bottom: em(50, xl4);
    }

    &__year{
        @include font();
        font-size: em(xl3);
        text-align: right;
        padding: em(23, xl3) 0 em(30, xl3);
    }

    &__bottom{
        margin-top: em(20);
        text-align: right;
    }

    @include mq(l){

        &__header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: em(50);
        }

        &__content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start
        }

        &__title{
            display: inline-block;
            font-size: em(xl10);
            padding-bottom: 0;
        }

        &__year{
            display: inline-block;
            text-align: right;
        }

        .eventCard{
            //margin-left: em(30);
            width: col(4);

            &:not(:last-of-type){
                margin-right: gut(1)
            }
        }
    }
}