.link{
    @include font();
    font-size: em(xl);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--line{
        display: inline-block;
        position: relative;
        padding: em(10) 0 em(10) em(70);
        transition: padding 0.3s $easin;

        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 3px;
            width: 60px;
            transform: translateY(-50%);
            border-radius: 2px;
            background-color: color(black);
            transition: left 0.3s $easin;
        }

        &:after{
            position: absolute;
            display: inline-block;
            transform: rotate(-90deg);
            font-size: em(m, 16);
            @include icon(chevron);
            opacity: 0;
            right: -1px;
            top: calc(50% - 10px);
            transition: opacity 0.3s $easin
        }

        &:hover{
            padding-right: 90px;
            padding-left:0;
            &:before{
                animation: opacity 0.3s $easin;
                left: calc(100% - 64px);
            }
            &:after{
                opacity:1;
            }
        }
    }

    &--blue{
        color: color(blue);

        &:before{
            background-color: color(blue)
        }
    }

    &--lineUp{
        display: inline-block;
        position: relative;
        transition: color 0.3s $easin;

        &:before{
            content: '';
            position: absolute;
            bottom: 30px;
            left: 50%;
            width: 2px;
            height: 40px;
            background-color: color(black);
            transition: background-color 0.3s $easin;

        }

        &:hover{
            color: color(purple);

            &:before{
                background-color: color(purple);
            }
        }
    }
}

@keyframes opacity{
    0%{
        opacity: 1;
    }

    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}