.nav{
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{

    }

    &__item{
        padding: em(20);
        position: relative;
    }

    &__list_sub{
        position: absolute;
        padding: 0;
        border: none;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }

    &__item{
        &:hover, &:focus, &:focus-within{
            & .nav__list_sub{
                position: relative;
                width: auto;
                height: auto;
                padding: 1.25em 0.5em;
                border-radius: 0.25em;
                overflow: visible;
                top: 100%;
                left: 0;

            }
        }
    }
}