.newsCard{
    position: relative;
    margin-bottom: gut(1);
    overflow: hidden;

    &:after{
        content:'';
        position: absolute;
        background-color: color(darkgreen);
        //border-radius: 100%;
        transform: rotate(45deg);
        width: 150px;
        height: 150px;
        right:-150px;
        top: -150px;
        transition: width 0.3s $easin, height 0.3s $easin;
    }

    &__fig:before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: color(darkgreen);
        opacity: 0;
        transition: opacity 0.3s $easin;
        z-index: 10;
    }

    &:hover .newsCard__fig:before{
        opacity: 0.6;
    }
    &:hover:after{
        width: 250px;
        height: 250px;
    }

    &--big{

        .newsCard__content{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: em(20);
            color: color(white);
            align-items: flex-end;
            z-index: 30;
        }

        .newsCard__title{
            font-size: em(xl3);
        }

        .newsCard__fig{
            height: 100%;
            position: relative;

            &:after{
                content:'';
                background-color: color(darkgreen);
                opacity: 0.8;
                @include cover();
            }
        }
    }

    &:hover{
        .newsCard__img{
            transform: scale(1.2);
        }
    }

    &__link{
        @include cover();
        z-index: 20;
    }

    &__fig{
        width: 100%;
        height: em(260);
        margin-bottom: em(15);
        overflow: hidden;
        position: relative;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s $easin;
    }

    &__title{
        @include font();
        font-size: em(xl);
        line-height: em(27, xl);
    }

    &__type{
        padding-bottom: em(10);
    }

    &__date{
        padding-left: em(30);
        text-align: center;
    }

    &__day{
        display: block;
        @include font(latoblack);
        font-size: em(60);
    }

    &__month{
        display: block;
        font-size: em(m);
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: em(20);
    }


}