.newsletter{
    padding: em(60) 0 em(30);
    margin-bottom: em(120);

    &__container{
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: -70px;
            right: -70px;
            width: em(200);
            height: em(200);
            background-color: color(blue);
            z-index: -1;
        }

        &:after{
            content: '';
            position: absolute;
            bottom: -50px;
            left: -50px;
            width: em(100);
            height: em(100);
            background-color: color(blue);
            z-index: -1;
        }

    }

    &--blue{
        .newsletter__container:before,
        .newsletter__container:after{
            background-color: color(blue);
        }
    }

    &--green{
        .newsletter__container:before,
        .newsletter__container:after{
            background-color: color(green);
        }
    }

    &--pink{
        .newsletter__container:before,
        .newsletter__container:after{
            background-color: color(pink);
        }
    }

    &__title{
        @include font();
        font-size: em(xl8);
        padding-bottom: em(30, xl8)
    }

    &__text{
        font-size: em(l);
        line-height: em(28, l);
        letter-spacing: 0.05em;
    }

    @include mq(m, max){
        overflow: hidden;

        &__form{
            padding-top: em(30)
        }
    }

    @include mq(m){

        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 10px;
            right: -50px;
            width: em(200);
            height: em(200);
            background-image: url('../../img/patternPlus-big.png');
            z-index: -10;
        }

        &:after{
            content: '';
            position: absolute;
            bottom: 5px;
            left: -25px;
            width: em(100);
            height: em(100);
            background-image: url('../../img/patternLine-small.png');
            z-index: -10;
        }

        &__container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: em(80) em(50);
            border: 4px solid color(black);

            &:before{
                top: -40px;
                right: -40px;
            }

            &:after{
                bottom: -20px;
                left: -20px;
            }
        }

        &__content{
            width: col(5);
        }
        &__form{
            width: col(6);
        }
    }

    @include mq(xl){
        &__container{
            padding: em(80) em(100);
        }
    }
}