.body--js{

    .hero__container{
        opacity: 0;
        transform: translateY(30px);
    }

    .hero__fig{
        opacity: 0;
        transform: translateY(-30px);
    }

    .reveal{
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;

        &--visible{
            opacity: 1;
            transform: translateY(0);
        }
    }
}