.body--js{

    .hero__container{
        opacity: 0;
        transform: translateY(30px);
    }

    .hero__fig{
        opacity: 0;
        transform: translateY(-30px);
    }

    .reveal{
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;

        &--visible{
            opacity: 1;
            transform: translateY(0);

        }
    }

    .aboutIntro:after{
        height: 0px;
        transition: height 0.5s $easin;
    }

}