.search{
    &__link{
        display: inline-block;
        padding: em(7) em(8);
        margin: 0 em(12);
        border-radius: 100%;
        background-color: color(black);
        position: relative;
        transition: background-color 0.2s $easin;

        &:before{
            @include icon(fb);
            color: color(white);
        }

        &:after{
            content: '';
            position:absolute;
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border: 2px solid color(purple);
            border-radius: 100%;
            opacity: 0;
            transition: width 0.2s $easin,
                        height 0.2s $easin,
                        opacity 0.2s $easin,
        }

        &:hover{
            background-color: color(purple);

            &:after{
                width: 40px;
                height: 40px;
                opacity: 1;
            }
        }
    }

    @include mq(m, max){
        margin-bottom: em(40);

        &__link{
            display: none;
        }
    }

    @include mq(m, min){
        &__container{
            display: none;
        }
    }
}