.social{
    &__item{
        display: inline-block;
        margin: 0 em(12);
    }

    &__link{
        padding: em(8) em(9);
        border-radius: 100%;
        font-size: em(m);
        background-color: color(black);
        position: relative;
        transition: background-color 0.2s $easin;

        &:before{
            content: '';
            position:absolute;
            width: 34px;
            height: 34px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border: 2px solid color(purple);
            border-radius: 100%;
            opacity: 0;
            z-index: -1;
            transition: width 0.2s $easin,
                        height 0.2s $easin,
                        opacity 0.2s $easin,
        }

        &:hover, &:focus{
            background-color: color(purple);

            &:before{
                width: 42px;
                height: 42px;
                opacity: 1;
            }
        }
        &--fb{
            &:after{
                @include icon(fb);
                color: color(white);
            }
        }
        &--insta{
            &:after{
                @include icon(insta);
                color: color(white);
            }
        }
    }

    @include mq(m, max){
        &__list{
            text-align: center;
        }
    }
}