.tabs{
    margin-bottom: em(50);

    &__item{
        @include font();
        font-size: em(xl);
        padding: em(30, xl) em(30, xl);
        position: relative;
        transition: background-color 0.3s $easin;

        &:not(:first-of-type) a{
            border-top: none;
        }

        &:after{
            position: absolute;
            @include icon(arrow);
            font-size: em(xl);
            font-weight: 900;
            top: calc(50% - 12px);
            right: em(30, xl);
            transition: transform 0.3s $easin;
        }

        &:not(.tabs__item--active):hover:after{
            transform: translateX(10px);
        }

        &--active{
            a,
            &:hover a{
                background-color: color(black);
                color: color(white);
            }

            &:after{
                color: color(white);
            }
        }
    }

    &__link{
        @include cover();
        padding: em(20, xl) em(30, xl);
        border: 3px solid color(black);

        &:hover,
        &:focus{
            background-color: color(blue);
        }
    }

    @include mq(l){
        padding-top: em(20);
    }
}