.wysiwyg{
    @include font(latoregular);

    &--news{
        a{
            position: relative;

            &:after{
                position: absolute;
                content: '';
                height: 8px;
                bottom: -2px;
                left: 50%;
                width: 100%;
                background-color: color(green);
                z-index:-1;
                transform: translateX(-50%);
                transition: height 0.2s $easin, width 0.2s $easin;
            }

            &:hover:after, &:focus:after{
                height: 20px;
                width:105%;
            }

        }
        img{
            width: 100%;
            max-height: em(350);
            margin: em(40) 0;
            border: 3px solid color(black);
            position: relative;

            &:after{
                position: absolute;
                content: '';
                top: em(20);
                right: em(20);
                width: 300px;
                height: 300px;
                background-image: url('../../img/patternPlus-big.png');
            }
        }
    }

    &--event{

    }

    &--small{
        * {
            & + p,
            & + img,
            & + table,
            & + ul,
            & + ol,
            & + blockquote,
            & + h1,
            & + h2,
            & + h3,
            & + h4,
            & + h5,
            & + h6 {
                margin-top: em(10,m);
            }
        }

        p + ol,
        p + ul,
        p ~ p{
            margin-top: em(10,m);
        }
    }

    h1, h2, h3, h4, h5, h6{
        @include font();
    }

    h1{
        font-size: em(xl5);
        line-height: em(30, xl5);
    }
    h2{
        font-size: em(xl4);
        line-height: em(30, xl4);
    }
    h4{
        font-size: em(xl3);
        line-height: em(30, xl3);
    }
    h5{
        font-size: em(xl2);
        line-height: em(30, xl2);
    }

    p{
        font-size: em(m);
        line-height: em(28, m);
    }

    * {
        & + p,
        & + img,
        & + table,
        & + ul,
        & + ol,
        & + blockquote,
        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: em(20,m);
        }
    }

    p + ol,
    p + ul,
    p ~ p{
        margin-top: em(20,m);
    }

    em{
        @include font(latoitalic);
    }
    strong{
        @include font(latobold);
    }

    ol,
    ul{
        li{
            padding: 0 0 0 em(20, m);
            position: relative;
            line-height: em(20, m);
            margin-bottom: em(20, m);

            &:before {
                position: absolute;
                content: '';
                top: 10px;
                left: 0;
                width: 6px;
                height: 6px;
                background-color: color(purple);
                display: inline-block;
                transform: rotate(45deg);
            }
        }
    }


}